<span th:include="~{shared/Footer :: footer (~{::body},'home')}">
</span>

<main class="container mt-5">


<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">
			<span >Welcome to GRN View Page</span>
			<span class="float-right">
				<a class="text-dark"  href="pdf?id=${goodRecieveNote.grnId}"><i class="fa fa-print"></i></a>
			</span>		
		</h2>
	</div>
	<div class="card-body">
				

		<table class="table table-striped table-bordered table-hover text-center  ">
					<tr >
						<th class="col-6">GRN ID</th>
						<td class="col-6" th:text="${goodRecieveNote.grnId}"></td>
					</tr>
					<tr>
						<th class="col-6">GRN Model</th>
						<td class="col-6" th:text="${goodRecieveNote.grnCode}"></td>
					</tr>
					
					<tr>
						<th class="col-6">GRN Type</th>
						<td class="col-6" th:text="${goodRecieveNote.grnType}"></td>
					</tr>
					<tr>
						<th class="col-6">Purchase Order Code</th>
						<td class="col-6" th:text="${goodRecieveNote.purchase.orderCode}"></td>
					</tr>
					<tr>
						<th class="col-6">NOTE</th>
						<td class="col-6" th:text="${goodRecieveNote.grnDesc}"></td>
					</tr>
					<tr>
						<th class="col-6"><button class="btn btn-block btn-info launch-modal btnbox"   >Edit &nbsp;<i class="fa fa-edit"></i> </button></th>
						<th class="col-6"><button class="btn btn-block btn-danger btnbox" data-toggle="modal" data-target="#delete"  >Delete &nbsp;<i class="fa fa-trash"></i> </button></th>
						
					</tr>
			</table>
		
		
	</div>
	<div th:if="${msg != null }" class="card-footer text-white bg-success">
		<span th:text="${msg}"></span>
	</div>

</div> <!-- card ended -->


<!-- delete Modal -->
<div class="modal" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete GRN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       Sure ! You want to delete
      </div>
		<hr>
      <!-- Modal footer -->
      <div class="modal-footer container" style="display:block">
      	<div class="row">
      		<div class="col-6">
		        <a class="btn btn-danger btn-block" th:href="@{delete/{id}(id=${goodRecieveNote.grnId})">Yes</a>
      		</div>
      		<div class="col-6">
		        <button type="button" class="btn btn-success btn-block" data-dismiss="modal" >No</button>
      		</div>
      	</div>
      
      </div>

    </div>
  </div>
</div>

	<br>

<!-- edit Modal -->

<div class="modal " id="edit">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success text-center">
        <h4 class="modal-title text-center">Edit GRN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
      
      <form th:action="@{update}" method="post" th:object="${goodRecieveNote}" class="form form-horizontal">
						
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="grnId" class="control-label">GRN Id</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<input type="text" th:field="*{grnId}" class="form-control" required="true" readOnly="true" />
								<div class="text-left">
									<span th:errors="*{grnId}" class="text-danger" ></span>
									<span id="msg" class="text-danger"></span>	
								</div>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="grnCode" class="control-label">GRN Code</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<input type="text" th:field="*{grnCode}" class="form-control" required="true" placeholder="Enter GRN Code"/>
								<div class="text-left">
									<span th:errors="*{grnCode}" class="text-danger" ></span>
									<span id="msg" class="text-danger"></span>	
								</div>
							</div>
						</div>
						
						
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="grnType" class="control-label">GRN Type</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<input type="text" th:field="*{grnType}" class="form-control " required="true" placeholder="Enter GRN Type"/>
								
							<div class="text-left"><span th:errors="*{grnType}" class="text-danger" ></span> </div>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="purchase.purId" class="control-label">Place Order Code</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<select th:field="*{purchase.purId}" class="form-control" required="true">
									<option value="">-Select-</option>
									<options items="${purchase}" />
								</select>
							<div class="text-left"><span th:errors="*{purchase.purId}" class="text-danger" ></span></div>
							</div>
						</div>


						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="grnDesc" class="control-label">DESCRIPTION</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<textarea th:field="*{grnDesc}" class="form-control" required="true" placeholder="Enter Any Note"></textarea>
							<div class="text-left"><span th:errors="*{grnDesc}" class="text-danger" ></span>	</div>
							</div>
						</div>
						<br>
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
							
							</div>
							<div class="col-md-6 col-xs-12 text-left">
									<button type="submit" class="btn btn-success align-left btnbox" >Update &nbsp;<i class="fa fa-send"></i></button>
							</div>
							
						</div>
	
				</form>
        	
        	
	 </div>
		<!-- Modal footer -->
      <div class="modal-footer">
      	        <button type="button" class="btn btn-info" data-dismiss="modal" >close</button>
      </div>

    </div>
  </div>
</div>

</main>

<span th:include="~{shared/Footer :: footer (~{::body},'home')}">
</span>


<script>

	if ($(window).width() < 768) {
		$('.table').removeClass('text-center');
	} else {
		$('.table').addClass('text-center');
	}

</script>


<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
		$('.card').removeClass('box');
		$('.card-header').removeClass('headerbox');
	} else {
		$('.card-body').addClass('text-center');
	}

</script>

<script>

	if ($(window).width() < 768) {
		$('.modal-body').removeClass('text-center');
	} else {
		$('.modal-body').addClass('text-center');
	}

</script>

<script type="text/javascript">
$(document).ready(function(){
	$('.launch-modal').click(function(){
		$('#edit').modal({
			backdrop: 'static'
		});
	}); 
});
</script>


<script type="text/javascript">
$(document).ready(function(){
	$("#grnCode").change(function(){
		$.ajax({
			url:'check',
			data:{'code':$("#grnCode").val()},
			success:function(resp){
				console.log('my message' + resp);
				$("#msg").text(resp);
				if(resp!='')
					{
						$("#grnCode").val("");
						$("#grnCode").focus();
					}
			},
			error: function(resp, err){ console.log('my message' + err.responseText); }
		});
		//console.log("resp"+resp)
	});
});
</script>

