<span th:replace="~{shared/Menubar :: header}"></span>

<main class="container mt-5">



<style>
	table.table-hover tbody tr:hover {
	    background-color: #50d8af !important; 
	    box-shadow:10px 10px 10px 15px rgba(73, 78, 92, 0.1);
}
th{
	color: #50d8af !important;
}
</style>


<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">Welcome to Purchase Order Data Page</h2>
	</div>
	<div class="card-body">
				
		<h3 th:if="${list == null}">Data Not Found!</h3>
		
	<div class="table-responsive">
	
		<table th:if="${list != null}" class="table table-striped table-bordered table-hover text-center  ">
				<tr class="thead-dark ">
					<th>ID</th>
					<th>CODE</th>
					<th >STATUS*</th>
					<th>REF NUM</th>
					<th>VENDOR</th>
					<th>SHIPMENT CODE</th>
					<th colspan="8" class="text-center">OPERATIONS</th>
				</tr>
					<tr th:each="obj:${list }" class="text-center">
						<td th:text="${obj.purId}" ></td>
						<td th:text="${obj.orderCode}" ></td>
						<td class="text-primary" th:text="${obj.status}" ></td>
						<td th:text="${obj.refNum}" ></td>
						<td th:text="${obj.vendor.whCode}" ></td>
						<td th:text="${obj.shipmentCode.shipmentCode}" ></td>
						<td>
							<th:block th:switch="${obj.status}">
								<div th:case="'ORDERED'">
									<a href="updateOrderStatus?orderId=${obj.purId}&status=INVOICED" class="btn btn-success"><b>INVOICE</b></a>
								</div>
								<div th:case="'CANCELLED'">
									<b class="text-danger">ORDERE CANCELLED</b>
								</div>
								<div th:case="'INVOICED'">
									<a href="viewInvoice?orderId=${obj.purId}" class="text-dark"><b>SHOW VENDOR INVOICE</b></a>
								</div>
								<div th:case="('OPEN' || 'PICKING')">
									<b>TO BE CONFIRMED </b>
								</div>
							</th:block>
						</td>
						<td>
							<span th:if="${obj.status == 'OPEN' || obj.status == 'PICKING' || obj.status == 'ORDERED'}">
								<a th:href="@{updateOrderStatus?orderId=${obj.purId}&status=CANCELLED}" class="btn btn-danger">CANCEL</a>
							</span>
							<span th:if="${obj.status != 'OPEN' && obj.status != 'PICKING' && obj.status != 'ORDERED'}"> 
								<a  class="btn btn-danger disabled" >CANCEL</a>
							</span>
						</td>
						<td><a th:href="@{viewItems?orderId=${obj.purId}}" class="text-dark"><b>
							<span th:if="${obj.status == 'OPEN' || obj.status == 'CANCELED'}">
								<i class="fa fa-cart-plus fa-3x"></i>
							</span>
							<span th:if="${obj.status != 'OPEN' && obj.status != 'CANCELED'}">
								<i class="fa fa-shopping-cart fa-3x"></i>
							</span>
						</b> </a></td> 									
						<td><a th:href="@{view/{id}(id=${obj.purId})}" class="btn btn-success">View&nbsp;<i class="fa fa-eye"></i> </a></td>
						<td><a class="btn btn-primary" th:href="@{excel/{id}(id=${obj.purId})}">Excel &nbsp;<i class="fa fa-file-excel-o"></i></a></td>
						<td><a class="btn btn-info"  th:href="@{pdf/{id}(id=${obj.purId})}">Pdf &nbsp;<i class="fa fa-file-pdf-o"></i></a></td>
						
					</tr>
					
				<tr class="thead-dark ">
					<th><button class="btn btn-info">Reports </button></th>
					<th colspan=5>
						<a href="excel" >
						<img th:src="@{/images/icons/BulkExcel.png}" class="img img-responsive img-rounded" width="70" height="50" title="Export Data to Excel"/ ></a>
					</th>
					<th colspan=6>
		<a href="pdf" ><img th:src="@{/images/icons/BulkPdf.png}" width="70" height="50" title="Export Data to pdf"/ >  </a>
					</th>
					
				</tr>
			</table>
		
		</div>
	</div>
	<div th:if="${msg != null}" class="card-footer " style="background: #50d8af !important">
		<span th:text="${msg}"></span>
	</div>

</div> <!-- card ended -->


	<br>


</main>

<span th:include="~{shared/Footer :: footer (~{::body},'home')}">
</span>





<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
		$('.card').removeClass('box');
		$('.card-header').removeClass('headerbox');
		$('.table').addClass('table-sm')
	} else {
		$('.card-body').addClass('text-center');
		
	}

</script>






