<span th:replace="~{shared/Menubar :: header}"></span>

<main class="container mt-5">

<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">
			<span >Welcome to Purchase Order Data View Page!!</span>
		</h2>
	</div>
	
	
	<div class="card-body">
	
			 <table class="table  table-bordered table-hover text-center  ">
					<tr >
						<th class="col-6">Order Code </th>
						<td class="col-6"  th:text="${poCode}"}></td>
					</tr>
					<tr>
						<th class="col-6">Order Status</th>
						<td class="col-6 bg-info" th:text="${poStatus}"></td>
					</tr>
			</table> 
	
		<th:block th:if="${poStatus =='OPEN' || poStatus=='PICKING' }">
			
			<form th:action="@{addItem}" method="post" th:object="${purchaseDtl}" >
				
				<div class="row">
					<div class="col-2"><label for="itemDtl.itemId" class="control-label"> Choose Item</label></div>
					<div class="col-3">
						<select th:field="*{itemDtl.itemId}" class="form-control"  required="true">
									<option value="">--SELECT--</option>
									<options items="${itemsMap}" />
						</select>
					</div>
					
					<div class="col-2"><label for="itemsQty" class="control-label">Quantity</label></div>
					<div class="col-3"><input type="text" th:field="*{itemsQty}" class="form-control" required="true" placeholder="Enter Quantity"/></div>
					<div class="col-2"><input type="submit" value="ADD ITEM" class="btn btn-success"></div>
				
				<input type="hidden" th:field="*{poHdrId}" />
			</div>
									
			</form>	
		</th:block>
			
			<br><br>	
		
			<!-- It will display all child items in Purchase if exist -->
			<div  th:if="${dtls != null}" class="card-footer table-responsive">
					<table class="table table-hover table-bordered">
						<tr>
							<th>SL NO</th>
							<th>ITEM CODE</th>
							<th>BASE COST</th>
							<th>QTY</th>
							<th>LINE TOTAL</th>
						</tr>
						<tr th:if="poDtl:${dtls}">
								<td th:text="${poDtl.slno}" ></td>
								<td th:text="${poDtl.itemDtl.itemCode}" ></td>
								<td th:text="${poDtl.itemDtl.baseCost}" ></td>
								<td th:text="${poDtl.itemsQty}" ></td>
								<td th:text="${poDtl.itemDtl.baseCost * poDtl.itemsQty}" ></td>
								<th:block th:if="${poStatus =='PICKING' }">
									<td><a th:href="@{removeItem?orderDtlId=${poDtl.orderDtlId}&orderId=${poDtl.poHdrId}}"
										class="btn btn-danger btnbox">DELETE</a></td>
								</th:block>
							</tr>
						<tr>
							<th:block th:if="${poStatus =='PICKING' }">
								<td colspan="5" align="center">
								<a th:href="@{updateOrderStatus?orderId=${poId}&status=ORDERED}"
									class="btn btn-success btnbox">CONFIRM ORDER</a></td>
							</th:block>
						</tr>
					</table>
				</div>
 	
 				<a th:if="${param.status == 'ORDERED'}" th:href="@{all}" class="btn btn-success btn-block btnbox">View All</a>
				
	</div>
</div>
			
</main>

<span th:include="~{shared/Footer :: footer (~{::body},'home')}">
</span>


<script>

	if ($(window).width() < 768) {
		$('.table').removeClass('text-center');
	} else {
		$('.table').addClass('text-center');
	}

</script>


<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
		$('.card').removeClass('box');
		$('.card-header').removeClass('headerbox');
	} else {
		$('.card-body').addClass('text-center');
	}

</script>


