<span th:replace="~{shared/Menubar :: header}"></span>

<main class="container mt-3">

<style>

	table.table-hover tbody tr:hover {
	    background-color: #50d8af !important; 
	    box-shadow:10px 10px 10px 15px rgba(73, 78, 92, 0.1);
}
th{
	color: #50d8af !important;
}
</style>


<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">Welcome to Sale Order Data Page</h2>
	</div>
	<div class="card-body">
				
		<h3 th:if="${list == null}">Data Not Found!</h3>
		
			

	<div class="table-responsive">
	
	<table th:if="${list != null}" class="table table-striped table-bordered table-hover text-center  ">
				<tr class="thead-dark ">
					<th>ID</th>
					<th>CODE</th>
					<th >STATUS*</th>
					<th>REF NUM</th>
					<th>STOCK SOURCE</th>
					<th>SHIPMENT CODE</th>
					<th colspan="9" align="center">OPERATIONS</th>
				</tr>
					<tr th:each="so:${list }" class="text-center">
						<td th:text="${so.saleId}" ></td>
						<td th:text="${so.orderCode}" ></td>
						<td class="text-info" th:text="${so.status}"></td>
						<td th:text="${so.refNum}"></td>
						<td th:text="${so.stockSource}"></td>
						<td th:text="${so.shipmentCode.shipmentCode}"></td>
						<td>
							<th:block th:switch="${so.status}">
								<div th:case="'OPEN'"> 
									<b>To Be Confirmed</b>
								</div>
								<div th:case="'READY'"> 
									<b>To Be Confirmed</b>
								</div>
								<div th:case="'CONFIRM'">
									<a th:href="@{updateOrderStatus(saleOrderId=${so.saleId}&orderStatus=INVOICED)}" class="btn btn-success"><b>INVOICE</b></a>
								</div>
								<div th:case="'INVOICED'">
									<a th:href="@{viewInvoice(saleOrderId=${so.saleId})}" class="text-dark"><b>SHOW VENDOR INVOICE</b></a>
								</div>
								<div th:case="'CANCELLED'">
									<font color="red">Order Cancelled</font>
								</div>
							</th:block>
						</td>
						<td>
							<span th:if="${so.status == 'OPEN' || so.status == 'READY' || so.status == 'CONFIRM'}">
								<a th:href="@{updateOrderStatus(saleOrderId=${so.saleId},orderStatus=CANCELLED)}" class="btn btn-danger">Cancel</a>
							</span>
							<span th:if="${so.status != 'OPEN' && so.status != 'READY' && so.status != 'CONFIRM'}"> 
								<a  class="btn btn-danger disabled" >CANCEL</a>
							</span>
						</td>
						<td><a th:href="@{viewItems(saleOrderId=${so.saleId})}" class="text-dark"><b>
							<span th:if="${so.status == 'OPEN' || so.status == 'CANCELED'}">
								<i class="fa fa-cart-plus fa-3x"></i>
							</span>
							<span th:if="${so.status != 'OPEN' && so.status != 'CANCELED'}">
								<i class="fa fa-shopping-cart fa-3x"></i>
							</span>
						</b> </a></td> 	
						<td><a th:href="@{view/{id}(id=${so.saleId})}" class="btn btn-success">View&nbsp;<i class="fa fa-eye"></i> </a></td>
						<td><a class="btn btn-primary" th:href="@{excel?id={id}(id=${so.saleId})}">Excel &nbsp;<i class="fa fa-file-excel-o"></i></a></td>
						<td><a class="btn btn-info"  th:href="@{pdf?id={id}(id=${so.saleId})}">Pdf &nbsp;<i class="fa fa-file-pdf-o"></i></a></td>
						
					</tr>
					
				<tr class="thead-dark ">
					<th><button class="btn btn-info">Reports </button></th>
					<th colspan=6>
						<a href="excel" >
						<img th:src="@{/images/icons/BulkExcel.png}" class="img img-responsive img-rounded" width="70" height="50" title="Export Data to Excel"/ ></a>
					</th>
					<th colspan=6>
						<a th:href="@{pdf}" ><img th:src="@{/images/icons/BulkPdf.png}" width="70" height="50" title="Export Data to pdf"/ >  </a>
					</th>
					
				</tr>
			</table>
		
		</div>
	</div>
	<div th:if="${msg != null}" class="card-footer " style="background: #50d8af !important">
		<span th:text="${msg}"></span>
	</div>

</div> <!-- card ended -->


	<br>


</main>

<th:block th:include="~{shared/Footer :: footer (~{::body},'home')}">
</th:block>




<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
		$('.card').removeClass('box');
		$('.card-header').removeClass('headerbox');
		$('.table').addClass('table-sm')
	} else {
		$('.card-body').addClass('text-center');
		
	}

</script>





