<span th:replace="~{shared/Menubar :: header}"></span>

<main class="container mt-3">

<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">
			<span >Welcome to Shipping Data Page!!</span>
		</h2>
	</div>
	
	
	<div class="card-body">
	
			 <table class="table  table-bordered table-hover text-center  ">
					<tr >
						<th class="col-6">Shipping Code </th>
						<td class="col-6 text-primary" th:text="${shipCode}"></td>
					</tr>
			</table> 
	
			<div th:if="${nullCount != 0}" class="row">
				 <div class="col-6">
					<a th:href="@{updateOrderStatus(shipId=${shipId},saleOrderId=${saleOrderId},shipSatus=ACCEPTED)}" class="btn btn-success btn-block">Accept All</a>
				</div>
				<div class="col-6">
					<a th:href="@{updateOrderStatus(shipId=${shipId},saleOrderId=${saleOrderId},shipSatus=REJECTED)}" class="btn btn-danger btn-block">Reject All</a>
				</div>
				</div>
				<br /> <br />

<!-- 					<span th:if="${purchaseDtls.grnStatus==ACCEPTED}">
							<font color="green"> Order Accepted </font>
						</span>
					<span th:if="${purchaseDtls.grnStatus==RETURNED}">
							<font color="red"> Order Returned </font>
					</span> -->
				
			<br><br>	
		
			
			<!-- It will display all child items in Purchase if exist -->
				<div th:if="${salesDetails != null}" class="card-footer table-responsive">
					<table class="table table-hover table-bordered">
						<tr>
							<th>SL NO</th>
							<th>ITEM CODE</th>
							<th>BASE COST</th>
							<th>QTY</th>
							<th>TOTAL</th>
							<th colspan="2">OPERATIONS</th>
						</tr>
							<tr th:each="sdtls:${salesDetails}">
								<td  th:text="${sdtls.slno}" ></td>
								<td  th:text="${sdtls.item.itemCode}" ></td>
								<td  th:text="${sdtls.item.baseCost}" ></td>
								<td  th:text="${sdtls.quantity}" ></td>
								<td  th:text="${sdtls.quantity}*${sdtls.item.baseCost}" ></td>
								<td th:if="${sdtls.shipSatus == null}">
										<a th:href="@{updateOrderStatus(shipId=${shipId},salesDtlsId=${sdtls.salesDtlsId},shipSatus=ACCEPTED)}" class="btn btn-success">Accept</a>
										<a th:href="@{updateOrderStatus(shipId=${shipId},salesDtlsId=${sdtls.salesDtlsId},shipSatus=REJECTED)}" class="btn btn-danger">Return</a>
								</td>
									<td th:if="${sdtls.shipSatus=='ACCEPTED'}"><font color="green"> Accepted </font></td>
									<td th:if="${sdtls.shipSatus=='REJECTED'}"><font color="red"> Rejected </font></td>
							</tr>
					</table>
				</div>
 	
 				<a th:if="${param.status == 'ORDERED'}"  class="btn btn-success btnbox">GO</a>
				
	</div>
</div>
			
</main>


<th:block th:include="~{shared/Footer :: footer (~{::body},'home')}">
</th:block>


<script>

	if ($(window).width() < 768) {
		$('.table').removeClass('text-center');
	} else {
		$('.table').addClass('text-center');
	}

</script>


<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
		$('.card').removeClass('box');
		$('.card-header').removeClass('headerbox');
	} else {
		$('.card-body').addClass('text-center');
	}

</script>







