
   <nav id="mobile-nav">	 
    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
        <li>
        <a href="#" class="sf-with-ul">Uom </a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/uom/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/uom/all">View All</a></li>
        </ul>
      </li>

      <li>
      <a href="#" class="sf-with-ul">Order Method </a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/order/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/order/all">View All</a></li>
        </ul>
      </li>
        
      <li>
    <a href="#" class="sf-with-ul">Shipment Type</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/shipment/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/shipment/all">View All</a></li>
        </ul>
      </li>
      
    <li>
    <a href="#" class="sf-with-ul">WhUser</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/wh/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/wh/all">View All</a></li>
        </ul>
      </li>

      <li>
      <a href="#" class="sf-with-ul">Item</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/item/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/item/all">View All</a></li>
        </ul>
      </li>
     
      <li>
      <a href="#" class="sf-with-ul">Purchase</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/purchase/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/purchase/all">View All</a></li>
        </ul>
      </li>
      
      <li>
      <a href="#" class="sf-with-ul">Sale Order</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/sale/	register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/sale/all">View All</a></li>
        </ul>
      </li>
      
      <li>
      <a href="#" class="sf-with-ul">GRN</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/grn/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/grn/view">View All</a></li>
        </ul>
      </li>
      
      <li>    
      <a href="#" class="sf-with-ul">Shipping</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/shipping/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/shipping/view">View All</a></li>
        </ul>
      </li>
        
      <li>
      <a href="#" class="sf-with-ul">User</a>
        <ul class="dropdownCls" >
          <li><a href="http://localhost:2250/WareHousePro/userr/register">Register</a></li>
          <li><a href="http://localhost:2250/WareHousePro/userr/all">View All</a></li>
        </ul>
      </li>

      <li id="setting"><a href="" class="sf-with-ul"><i class="fa fa-cog fa-2x fa-fw" id="icon"></i></a>
           <ul class="dropdownCls" >
              <li><a href="http://localhost:2250/WareHousePro/userr/change">Change Password</a></li>
              <li><a href="http://localhost:2250/WareHousePro/logout">Logout</a></li>
          </ul>
       </li>
    </ul>
  </nav>