<span th:replace="~{shared/Menubar :: header}"></span>


<main class="container mt-3">

<div th:if="${msg}" class=" flex-row-reverse ">
	    <div class="alert alert-success p-2" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <strong  th:text="${msg}"></strong> 
	    </div>
 </div>
<div th:if="${emsg}" class=" flex-row-reverse">
	    <div class="alert alert-danger p-2" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <strong  th:text="${emsg}" ></strong> 
	    </div>
</div>



<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">
			<span >Welcome to Order Method View Page</span>
			<span class="float-right">
				<a class="text-dark"  th:href="@{pdf?id={id}(id=${uom.id})}"><i class="fa fa-print"></i></a>
			</span>		
		</h2>
	</div>
	<div class="card-body">
				

		<table class="table table-striped table-bordered table-hover text-center  ">
					<tr >
						<th class="col-6">ID</th>
						<td class="col-6" th:text="${uom.id}"></td>
					</tr>
					<tr>
						<th class="col-6">TYPE</th>
						<td class="col-6" th:text="${uom.uomType}"></td>
					</tr>
					<tr>
						<th class="col-6">CODE</th>
						<td class="col-6" th:text="${uom.uomCode}"></td>
					</tr>
					<tr>
						<th class="col-6">ENABLE</th>
						<td class="col-6" th:text="${uom.enableUom}"></td>
					</tr>
					<tr>
						<th class="col-6">META CODE</th>
						<td class="col-6" th:text="${uom.metaCode}"></td>
					</tr>
					<tr>
						<th class="col-6">ADJUST SIZE</th>
						<td class="col-6" th:text="${uom.adjSize}"></td>
					</tr>
					<tr>
						<th class="col-6">NOTE</th>
						<td class="col-6" th:text="${uom.note}"></td>
					</tr>
					<tr>
						<th class="col-6"><button class="btn btn-block btn-info launch-modal btnbox"   >Edit &nbsp;<i class="fa fa-edit"></i> </button></th>
						<th class="col-6"><button class="btn btn-block btn-danger btnbox" data-toggle="modal" data-target="#delete"  >Delete &nbsp;<i class="fa fa-trash"></i> </button></th>
						
					</tr>
			</table>
		
		
	</div>
	<div th:if="${msg != null}" class="card-footer text-white bg-success">
		<span th:text="${msg}"></span>
	</div>

</div> <!-- card ended -->


<!-- delete Modal -->
<div class="modal " id="delete">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete Uom</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       Sure ! You want to delete
      </div>
		<hr>
      <!-- Modal footer -->
      <div class="modal-footer container" style="display:block">
      	<div class="row">
      		<div class="col-6">
		        <a class="btn btn-danger btn-block" th:href="@{/uom/delete/{id}(id=${uom.id})}">Yes</a>
      		</div>
      		<div class="col-6">
		        <button type="button" class="btn btn-success btn-block" data-dismiss="modal" >No</button>
      		</div>
      	</div>
      
      </div>

    </div>
  </div>
</div>

	<br>

<!-- edit Modal -->

<div class="modal " id="edit">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-success text-center">
        <h4 class="modal-title text-center">Edit Uom</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
        
        <form th:action="@{/uom/update}" method="post" th:object="${uom}" class="form form-horizontal" >
		     
		     <div class="row form-group">
		       		<div class="col-md-4 col-xs-12">
		       			<label for="id" class="control-label font-weight-bold">Uom Id</label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12">
		       			<input type="text" th:field="*{id}" readonly="true" class="form-control" required="true"/>
		       			<div class="invalid-feedback"><span th:errors="*{id}" class="text-danger" ></span></div>
		       		</div>
		       		
		       </div>
		     
		        <div class="row form-group">
		       		<div class="col-md-4 col-xs-12">
		       			<label for="uomType" class="control-label">Uom Type</label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12">
		       			<select th:field="*{uomType}" class="form-control" required="true">
							<option value="">--Select Uom Type--</option>
							<option value="PACK">Pack</option>
							<option value="NOPACK">NoPack</option>
							<option value="NA">Na</option>
					 	</select>
					 	<div class="text-left">
					 		<span th:errors="*{uomType}" class="text-danger" ></span>
					 	</div>
		       		</div>
		       		
		       </div>
		 	 	
		 	 	<div class="row form-group">
		       		<div class="col-md-4 col-xs-12">
		       			<label for="id" class="control-label">Uom Code</label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12">
		       			<input th:field="*{uomCode}"  class="form-control" required="true" placeholder="Enter Uom Code"/>
					 	<div class="text-left">
					 		<span th:field="*{uomCode}" class="text-danger" ></span>
					 		<span id="msg" class="text-danger text-left"></span>	
					 	</div>
		       		</div>
		       		
		       </div>
		       
		       
		       <div class="row form-group">
		       
		       		<div class="col-md-4 col-xs-12">
		       			<label for="enableUom" class="control-label">Enabled</label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12 text-left">
		       			<div class="form-check-inline">
					      <label class="form-check-label" for="enableUom1">
				       			<input type="radio" th:field="*{enableUom}" value="YES" class="form-check-input" />Yes   
					      </label>
					    </div>
					    <div class="form-check-inline">
					      <label class="form-check-label" for="enableUom2">
			       			 <input type ="radio" th:field="*{enableUom}" value="NO" class="form-check-input" />NO
					      </label>
					    </div>
					   <div class="text-left"><span th:errors="*{enableUom}" class="text-danger" ></span></div>
		       		</div>
		       		
		       </div>
		 	 	
				<div class="row form-group">
		       		<div class="col-md-4 col-xs-12">
		       			<label for="metaCode" class="control-label">Meta Code</label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12">
		       			<input type="text" th:field="*{metaCode}"  class="form-control" required="true" placeholder="Enter Meta Code"/>
			       		<div class="text-left"><span th:errors="*{metaCode}" class="text-danger" ></span></div>
		       		</div>	      
		       </div>
				
				<div class="row form-group ">
					<div class="col-md-4 col-xs-12">
		       			<label for="adjSize" class="control-label">Adjust Size </label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12 text-left">
		       			<div class="form-check-inline">
					      <label class="form-check-label" for="adjSize1">
				       			<input type="radio" th:field="*{adjSize}" value="L" class="form-check-input"/>L 
					      </label>
					    </div>
					    <div class="form-check-inline">
					      <label class="form-check-label" for="adjSize2">
			       			<input type="radio" th:field="*{adjSize}" value="M" class="form-check-input"/>M 
					      </label>
					    </div>
					     <div class="form-check-inline">
					      <label class="form-check-label" for="adjSize3">
			       			<input type="radio" th:field="*{adjSize}" value="R" class="form-check-input"/>R
					      </label>
					    </div>
		       			 <div class="text-left"><span th:errors="*{adjSize}" class="text-danger" ></span></div>
					</div>
		       </div>
		
				<div class="row form-group">
		       		<div class="col-md-4 col-xs-12">
		       			<label for="note" class="control-label">Note</label> 
		       		</div>
		       		<div class="col-md-6 col-xs-12">
		       			<textarea th:field="*{note}"  class="form-control" required="true" placeholder="Enter any note" ></textarea>
		       			 <div class="text-left"><span th:errors="*{note}" class="text-danger" ></span></div>
		       		</div>
		       		
		       </div>
		
				<br>
				<div class="row form-group">
		       		<div class="col-md-4 col-xs-12">
		       			
		       		</div>
		       		<div class="col-md-6 col-xs-12 text-left">
		       			<button type="submit" class="btn btn-success align-left btnbox" >Update &nbsp;<i class="fa fa-send"></i></button>
		       		</div>
		       </div>
		</form>
		


	 </div>
		<!-- Modal footer -->
      <div class="modal-footer">
      	        <button type="button" class="btn btn-info" data-dismiss="modal" >close</button>
      </div>

    </div>
  </div>
</div>

</main>

<th:block th:include="~{shared/Footer :: footer (~{::body},'home')}">
</th:block>


<script>

	if ($(window).width() < 768) {
		$('.table').removeClass('text-center');
	} else {
		$('.table').addClass('text-center');
	}

</script>


<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
		$('.card').removeClass('box');
		$('.card-header').removeClass('headerbox');
	} else {
		$('.card-body').addClass('text-center');
	}

</script>

<script>

	if ($(window).width() < 768) {
		$('.modal-body').removeClass('text-center');
	} else {
		$('.modal-body').addClass('text-center');
	}

</script>


<script type="text/javascript">
$(document).ready(function(){
	$('.launch-modal').click(function(){
		$('#edit').modal({
			backdrop: 'static'
		});
	}); 
});
</script>

