<span th:replace="~{shared/Menubar :: header}"></span>

<main class="container mt-5">

<div class="card border-primary box">

	<div class="card-header headerbox" style="background: #50d8af !important">
		<h2 class="text-center">Change Password</h2>
	</div>
	<div class="card-body text-center">
				
				 <form th:action="updatePass" method="POST"  class="form form-horizontal">
						
						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="npass" class="control-label">New Password</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<input type="password" id="npass" name="npass" class="form-control num" required="true" placeholder="Enter New Password" onKeyUp="checkPasswordStrength();"/>
							
							<div class="text-left">
							<span id="password-strength-status"></span><br>	
							</div>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
								<label for="cpass" class="control-label">Confirm  Password</label>
							</div>
							<div class="col-md-6 col-xs-12">
								<input type="password" id="cpass" name="cpass" class="form-control" required="true" placeholder="Confirm Password" />
							
							<div class="text-left">
								<span id="message"></span><br>							
							</div>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-4 col-xs-12 ">
							
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							
							</div>
							<div class="col-md-6 col-xs-12 text-left">
								<button type="submit" id="btn" class="btn btn-rounded btn-success btnbox" >Update</button>
							</div>
							
						</div>
	
				</form> 
			
	</div>
		<div th:if="${msg != null}" class="card-footer text-dark bg-success">
			<b th:text="${msg}"></b>
		</div>
		<div th:text="${param.msg != null}" class="card-footer text-danger bg-success">
			<h5 class="text-danger" th:text="${param.msg}"></h5>
		</div>
	

</div> <!-- card ended -->

<br><br>

</main>


<span th:include="~{shared/Footer :: footer (~{::body},'home')}">
</span>


<script>

	if ($(window).width() < 768) {
		$('.card-body').removeClass('text-center');
	} else {
		$('.card-body').addClass('text-center');
	}

</script>


<script type="text/javascript">
$(document).ready(function(){
	$("#userEmail").change(function(){
		$.ajax({
			url:'check',
			data:{'email':$("#userEmail").val()},
			success:function(resp){
				console.log('my message' + resp);
				$("#msg").text(resp);
				if(resp!='')
					{
						$("#userEmail").val("");
						$("#userEmail").focus();
					}
			},
			error: function(resp, err){ console.log('my message' + err.responseText); }
		});
		//console.log("resp"+resp)
	});
});
</script>



<script type="text/javascript">
$(document).ready(function(){
	$("#userMobile").change(function(){
		$.ajax({
			url:'checkM',
			data:{'mobile':$("#userMobile").val()},
			success:function(resp){
				console.log('my message' + resp);
				$("#msgm").text(resp);
				if(resp!='')
					{
						$("#userMobile").val("");
						$("#userMobile").focus();
					}
			},
			error: function(resp, err){ console.log('my message' + err.responseText); }
		});
		//console.log("resp"+resp)
	});
});
</script>


<script>
	
	function checkPasswordStrength() {
		var number = /([0-9])/;
		var alphabets = /([a-zA-Z])/;
		var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
		if($('.num').val().length<6) {
		$('#password-strength-status').removeClass();
		$('#password-strength-status').addClass('text-danger');
		$('#password-strength-status').html("Weak (should be atleast 6 characters.)");
		} else {  	
		if($('.num').val().match(number) && $('.num').val().match(alphabets) && $('.num').val().match(special_characters)) {            
		$('#password-strength-status').removeClass();
		$('#password-strength-status').addClass('text-success');
		$('#password-strength-status').html("Strong");
		} else {
		$('#password-strength-status').removeClass();
		$('#password-strength-status').addClass('text-warning');
		$('#password-strength-status').html("Medium (should contain number,lowercase, uppercase and special characters.)");
		}}}
	
</script>


<script>
$('#cpass').on('keyup', function () {
    if ($('#npass').val() == $('#cpass').val() && $('#cpass').val()!="") {
        $('#message').html('Matching').css('color', 'green');
        $('#btn').removeAttr("disabled");
    } else 
    	{
    		$('#message').html('Not Matching').css('color', 'red');
    		$("#btn").attr("disabled", true);
    	}
        
});

</script>