<span th:fragment="footer(template,menu)">

   <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><a th:href="@{www.facebook.com/saurabh.vaish14}" target=_blank > Saurabh Vaish </a></strong>. All Rights Reserved
      </div>
      <div class="credits">
        	Designed with <a href="#" class="twitter"><i class="fa fa-heart"></i></a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"> </script>
  <script  th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}" ></script>
  <script  th:src="@{/webjars/datatables.net/1.10.19/js/jquery.dataTables.min.js}"></script>
  <script  th:src="@{/webjars/datatables.net-bs4/3.2.2/js/dataTables.bootstrap4.js}"></script>
  
  <script  th:src="@{/lib/superfish/hoverIntent.js}"  ></script>
  <script  th:src="@{/lib/superfish/superfish.min.js}" ></script>
  <script  th:src="@{/lib/venobox/venobox.min.js}"  ></script>
  
   <script  th:src="@{/lib/easing/easing.min.js}"></script>
  <script  th:src="@{/lib/wow/wow.min.js}" ></script>
  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"  ></script>

  <!-- Template Main Javascript File -->
  <script  th:src="@{/js/main.js}" ></script>

  <script  th:src="@{/js/my.js}" ></script>




</body>
</html>
</span>